* {
  margin: 0;
  padding: 0;
}
.rootContainer {
  width: 100%;
  height: auto;
  overflow-y: scroll;
  overflow-x: hidden;
}
.rootContainer:before {
  position: fixed;
  background: url(https://assets.nflxext.com/ffe/siteui/vlv3/ce576f63-f84d-4d38-ba8c-2034ffd002f5/9454850b-f6b6-446a-8700-93be36a8d0e7/FR-en-20181126-popsignuptwoweeks-perspective_alpha_website_medium.jpg)
    no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100%;
  content: "";
  display: block;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}
.mainContainer {
  z-index: 1;
  padding-top: 100px;
}
.cta-text {
  text-align: center;
  position: relative;
  font-family: sans-serif;
  margin-top: 7em;
}
.cta-pitch {
  font-weight: 700;
  font-size: 80px;
  line-height: 1.1em;
  margin: 0 0 30px;
  position: relative;
  color: #fff;
}
.cta-pricing {
  font-weight: 400;
  font-size: 30px;
  line-height: 1.25em;
  margin: 0 0 30px;
  color: #fff;
}
.cta-button {
  text-align: center;
}
.cta-link {
  padding: 1em 1.5em 1em 2em;
  font-size: 30px;
  position: relative;
  background-color: #e50914;
  color: #fff;
  outline: none;
  border: 0;
  cursor: pointer;
}
input {
  color: rgba(247, 243, 243, 0.5);
  background: transparent;
  border: 0;
  font-size: 3em;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  margin: 0;
  width: 100%;
  padding: 0.3em;
  padding-left: 0.2em;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  position: fixed;
  width: 100%;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.85) 5%,
    rgba(0, 0, 0, 0.01)
  );
  z-index: 2;
}
.header span {
  font-size: 2em;
  color: #fff;
  height: 48px;
  line-height: 48px;
  flex: 0 1 390px;
  transition: flex 300ms cubic-bezier(0, 0.95, 0.56, 1);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}
input {
  background: rgba(247, 243, 243, 0.5);
  padding: 0 0.25em;
  flex: 0 0 131px;
  font-size: 2em;
  height: 48px;
  line-height: 48px;
  color: #fff;
  transition: flex 300ms cubic-bezier(0, 0.95, 0.56, 1);
}
::-webkit-input-placeholder {
  color: #fff;
}
.active input {
  flex: 0 0 248px;
  color: #434343;
}
.active span {
  flex: 0 0 0;
}
.storeList {
  padding: 0;
  margin: 1em 0;
  position: relative;
}
.listItem {
  width: 676px;
  position: relative;
  display: flex;
  padding: 0.75em;
  margin: auto;
  margin-bottom: 0.5em;
  background-color: rgba(247, 243, 243, 0.7);
}
.listItem img {
  margin-left: auto;
}
.storeDetails {
  padding-right: 1em;
}
.svgIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-left: 0;
  height: 45px;
  width: 167px;
}
.svgIcon svg {
  text-decoration: none;
  vertical-align: middle;
  fill: #e50914;
  display: inline-block;
  line-height: 90px;
}
.signIn {
  color: #fff;
  background-color: #e50914;
  line-height: normal;
  margin: 0 3% 0;
  padding: 7px 17px;
  font-weight: 400;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 16px;
  text-decoration: none;
  cursor: pointer;
  margin-left: auto;
}
.storeDistance {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  min-width: 100px;
  /* font-size: 1.25em; */
  font-size: 1.5em;
}
.storeAddress {
  color: #434343;
}
.storeName {
  font-size: 1.5em;
}
.storeContact {
  margin-top: 1.5em;
  display: flex;
  align-items: center;
}
.storeContact:before {
  display: inline-block;
  content: "";
  margin-right: 0.5em;
  width: 14px;
  height: 14px;
  background: url(/images/phone.svg) no-repeat;
  background-position: center;
  background-size: contain;
}
.loading {
  font-size: 3em;
  font-weight: 100;
  position: relative;
  text-align: center;
  margin: 1em 0;
  color: rgba(247, 243, 243, 0.5);
  font-family: "Lato", sans-serif;
}
